
@media only screen and (max-width: 600px) {
    .jumbotron {
        background-color: blue;
        max-height: fit-content;
        min-height: fit-content;
        margin-bottom: 0px;
        background-image: url(../images/programmingLarge.jpg);
        background-repeat: no-repeat;
        background-position-x: center;
        color: white;
        text-shadow: -1px -1px blue; 
        font-family: arial; 
        justify-content: center;
        position: static;
    }
    
    .jumbotron p span, h1 span{
        background-color: rgba(0,0,0,.3);
    }

    aside {
        width: 30%;    
        display: block;
        background-color: grey;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding-left: 5px;
        color: white;
    }

    article {
        font-family: 'Courier New', Courier, monospace;
        margin-left: 22.5px;
    }

    .carouselCSS {
        height: 450px;
    }
}

@media only screen and (min-width: 600px) {
    .jumbotron {
        background-color: blue;
        max-height: fit-content;
        min-height: fit-content;
        margin-bottom: 0px;
        background-image: url(../images/programmingLarge.jpg);
        background-repeat: no-repeat;
        background-position-x: center;
        color: white;
        text-shadow: -1px -1px blue; 
        font-family: arial; 
        justify-content: center;
        position: static;
    }
    
    .jumbotron p span, h1 span{
        background-color: rgba(0,0,0,.3);
    }

    aside {
        width: 30%;    
        display: block;
        background-color: grey;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding-left: 5px;
        color: white;
    }

    article {
        font-family: 'Courier New', Courier, monospace;
        margin-left: 22.5px;
    }

    .carouselCSS {
        height: 450px;
    }
}

@media only screen and (min-width: 768px) {
    .jumbotron {
        background-color: blue;
        max-height: fit-content;
        min-height: fit-content;
        margin-bottom: 0px;
        background-image: url(../images/programmingLarge.jpg);
        background-repeat: no-repeat;
        background-position-x: center;
        color: white;
        text-shadow: -1px -1px blue; 
        font-family: arial; 
        justify-content: center;
        position: static;
    }
    
    .jumbotron p span, h1 span{
        background-color: rgba(0,0,0,.3);
    }

    aside {
        width: 25%;    
        display: block;
        background-color: grey;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding-left: 10px;
        color: white;
    }
    
    article {
        font-family: 'Courier New', Courier, monospace;
        margin-left: 25px;
    }

    .sidebarWidth {
        min-width: 25%;
    }

    .carouselCSS {
        max-width: 75%;
        height: 450px;
    }

}

@media only screen and (min-width: 992px) {
    .jumbotron {
        background-color: blue;
        max-height: fit-content;
        min-height: fit-content;
        margin-bottom: 0px;
        background-image: url(../images/programmingLarge.jpg);
        background-repeat: no-repeat;
        background-position-x: center;
        color: white;
        text-shadow: -1px -1px blue; 
        font-family: arial; 
        justify-content: center;
        position: static;
    }
    
    .jumbotron p span, h1 span{
        background-color: rgba(0,0,0,.3);
    }

    .headingImage {
        min-width: 100%;
    }

    .headingText {
        min-width: 100%;
    }

    aside {
        width: 20%;    
        display: block;
        background-color: grey;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding-left: 15px;
        color: white;
    }
    
    article {
        font-family: 'Courier New', Courier, monospace;
        margin-left: 27.5px;
    }

    .sidebarWidth {
        min-width: 20%;
    }

    .carouselCSS {
        max-width: 80%;
        height: 450px;
    }
}

@media only screen and (min-width: 1200px) {
    .jumbotron {
        background-color: blue;
        max-height: fit-content;
        min-height: fit-content;
        margin-bottom: 0px;
        background-image: url(../images/programmingLarge.jpg);
        background-repeat: no-repeat;
        background-position-x: center;
        color: white;
        text-shadow: -1px -1px blue; 
        font-family: arial; 
        justify-content: center;
        position: static;
    }
    
    .jumbotron p span, h1 span{
        background-color: rgba(0,0,0,.3);
    }

    .headingImage {
        min-width: 33%;
    }

    .headingText {
        min-width: 66.6%;
    }

    aside {
        width: 15%;    
        display: block;
        background-color: grey;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding-left: 20px;
        color: white;
    }
    
    article {
        font-family: 'Courier New', Courier, monospace;
    }

    .sidebarWidth {
        min-width: 10%;
    }

    .carouselCSS {
        height: 450px;
    }
}

h2 {
    margin-left: 2px;
}

.nav {
    list-style-type: none;
    padding: 0;
    color: white;
}

ul {
    display: block;
}

.inter {
    display: block;
    padding-left: 20px;
}

.qualif {
    display: block;
    padding-left: 40px;
}

footer {
    background-color: darkblue;
    text-align: center;
    color: white;
    padding-top: 0.1px;
    padding-bottom: 0.1px;
    position: bottom;
}

article {
    font-family: 'Courier New', Courier, monospace;
    padding-left: 30px;
}

html {
    margin: 5px;
}

.socials {
    width: 50px;
    height: 40px;
    padding-right: 10px;
}

.image {
    border: solid;
    border-radius: 200px;
    border-color: orange;
    border-width: 0.5rem;
}

section {
    position: relative;
}

main {
    display: flex;
    flex-direction: row;
    overflow: unset;
}

div {
    display: block;
}

form {
    display: table;
}

label {
    display: table-cell;
    margin-bottom: 2px;
}

input {
    display: table-cell;
    margin-bottom: 10px;
    width: 250px;
}

textarea {
    display: table-cell;
    margin-bottom: 10px;
    width: 250px;
    min-height: 200px;
}

form.div {
    display: table-row;
}

.btnSubmit {
    width: 125px;
}

.carousel-inner > .item {
    transition: 5s;
}