body{
    font-family: sans-serif;
    font-size:110%;
    background-color: #FCF7F8;
    display: flex;
    flex-direction: column;
}

header {
    background-color: darkblue;
    text-align: center;
    color: white;
    font-family: arial; 
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 5px;
    padding-top: 15px;
    position: static;
}

aside {
    width: 15%;    
    display: block;
    background-color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 20px;
    color: white;

}

.nav {
    list-style-type: none;
    padding: 0;
    color: white;
}

ul {
    display: block;
}

.inter {
    display: block;
    padding-left: 20px;
}

.qualif {
    display: block;
    padding-left: 40px;
}

footer {
    background-color: darkblue;
    text-align: center;
    color: white;
    padding-top: 0.1px;
    padding-bottom: 0.1px;
    position: bottom;
}

article {
    font-family: 'Courier New', Courier, monospace;
    padding-left: 30px;
}

html {
    margin: 5px;
}

.socials {
    width: 45px;
    height: 40px;
    padding-right: 10px;
}

.image {
    border: solid;
    border-radius: 200px;
    border-color: orange;
    border-width: 0.5rem;
}

h3 {
    padding-left: 25px;
}

section {
    position: relative;
}

main {
    display: flex;
    flex-direction: row;
    overflow: unset;
}

div {
    display: block;
}